/* Estilos para el contenedor principal */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    font-size: 19px;;
    color: black;
}

strong{
    color: black;
}

/* Estilos para el botón de abrir formulario */
.contact-form-toggle {
    background-color: #f2f3f5;
    color: #070101;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; 
}

/* Estilos para el formulario de contacto flotante */
.contact-form-overlay {
    position: fixed;
    bottom: 80px; /* Ajuste para dejar espacio para el botón */
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 998; /* Asegura que el formulario esté detrás del botón */
}
