
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
header{
  display: flex;
  background-color: palegoldenrod;
  flex-direction: row;
  align-content: center;
  padding: 0.1px;
  justify-content: space-between;
  text-align: center;
 
}
 
nav ul{
  list-style-type: none;
}
 
nav a{
  text-decoration: none;
  color: black;
}
 
nav ul li{
  display: inline-block;
  padding: 10px;
  text-align: right;
}

nav a.is-active{
  font-weight: bold;
  pointer-events: none;
  color: black;
  /* text-decoration: underline; */
  /*background-color: white;*/
  border-radius: 5px;
  
}

.nav-link {
  margin-left: 8rem; /*Aqui se ordena los nav-links */
}
